run = "cd apps/backend && npm install && npm run dev"

[nix]
channel = "stable-24_05"

[deployment]
run = ["sh", "-c", "cd apps/backend && npm run start"]
deploymentTarget = "cloudrun"
ignorePorts = false

[[ports]]
localPort = 2567
externalPort = 80
